<%- include('../../components/header.ejs') %>
<div class="container-fluid page-body-wrapper bg-black">
  <%- include('../../components/navbar.ejs') %>
  <div class="content-wrapper" style="padding-top: 80px">
    <section class="content-header">
      <div class="row mb-2 d-flex align-items-center justify-content-between">
        <div class="col-sm-6">
          <h1>Form edit gift</h1>
        </div>
        <div class="col-sm-6 d-flex justify-content-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
            <li class="breadcrumb-item"><a href="/admin/gift">Gift</a></li>
            <li class="breadcrumb-item active">Edit</li>
          </ol>
        </div>
      </div>
    </section>

    <section class="content">
      <div class="container-fluid">
        <%- include ('../../components/messages.ejs')%>
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">
                      Form edit data gift <%= gift.giftName %>
                    </h3>
                  </div>
                  <form
                    action="/admin/gift/edit/<%= gift.id %>?_method=PUT"
                    method="POST"
                    enctype="multipart/form-data"
                  >
                    <div class="card-body">
                      <div class="form-group">
                        <label for="img">Image</label>
                        <input type="file" name="img" class="form-control-file" id="img" accept="image/*" onchange="previewImage(event)" />
                      </div>
                      
                      <div class="form-group">
                        <img id="profile-preview" src="https://api.teman.top/uploads/<%= gift.img %>" alt="Image Preview" style="width: 100px; height: 100px; border-radius: 100%;" class="img-thumbnail" />
                      </div>

                      <div class="form-group">
                        <label for="giftName">Gift Name</label>
                        <input
                          type="text"
                          name="giftName"
                          class="form-control"
                          id="giftName"
                          value="<%= gift.giftName %>"
                          placeholder="giftName"
                          required
                        />
                      </div>

                      <div class="form-group">
                        <label for="giftLink">Gift Link</label>
                        <input
                          type="text"
                          name="giftLink"
                          class="form-control"
                          id="giftLink"
                          value="<%= gift.giftLink %>"
                          placeholder="giftLink"
                          required
                        />
                      </div>

                      <div class="form-group">
                        <label for="price">Price</label>
                        <input
                          type="text"
                          name="price"
                          class="form-control"
                          id="price"
                          value="<%= gift.price %>"
                          placeholder="price"
                          required
                        />
                      </div>
                    </div>

                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save"></i> Simpan
                      </button>
                      <button type="button" class="btn btn-secondary">
                        <a href="/admin/gift" style="color: red"
                          ><i class="fa fa-undo"></i> Cancel</a
                        >
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<%- include('../../components/footer.ejs') %>

<script>
  function previewImage(event) {
    var input = event.target;
    var reader = new FileReader();

    reader.onload = function () {
      var dataURL = reader.result;
      var output = document.getElementById("profile-preview");
      output.src = dataURL;
      output.style.display = "block"; 
    };

    reader.readAsDataURL(input.files[0]); 
  }

  function togglePassword() {
    var passwordField = document.getElementById("password");
    if (passwordField.type === "password") {
      passwordField.type = "text"; 
    } else {
      passwordField.type = "password"; 
    }
  }
</script>

<style>
  .custom-file-input:lang(en) ~ .custom-file-label::after {
    content: "Browse";
    color: blue;
  }

  .custom-file-input {
    border-color: blue; 
  }
</style>
<script>
  function previewImage(event) {
    var reader = new FileReader();
    var preview = document.getElementById('profile-preview');
    
    reader.onload = function() {
      preview.src = reader.result;
      preview.style.display = 'block';
    };

    reader.readAsDataURL(event.target.files[0]);
  }
</script>