<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <div class="d-flex justify-content-between align-items-center">
        <h3 class="page-title">Users</h3>
        <h3 class="card-title ms-4">
          <a href="/admin/user/create" class="btn btn-primary"> + Add </a>
        </h3>
      </div>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">User</li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h4 class="card-title mb-0">Table User</h4>
            <input
              type="text"
              id="searchInput"
              class="form-control w-25"
              onkeyup="searchTable()"
              placeholder="Search for Player Id or username.."
            />
          </div>
          <div class="table-responsive">
            <table class="table table-bordered" id="userTable">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Profile Picture</th>
                  <th>Player Id</th>
                  <th onclick="sortTable(2)">Username &#x25B2;&#x25BC;</th>
                  <th>Balance</th>
                  <th onclick="sortTableByOnline()">Online &#x25B2;&#x25BC;</th>

                  <th>Report</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <% for(let i = 0; i < user.length; i++){ %>
                <tr>
                  <td><%= i + 1 %></td>
                  <td>
                    <% if (user[i].profilePicture &&
                    user[i].profilePicture.startsWith('http')) { %>
                    <!-- Menampilkan gambar dari URL HTTPS -->
                    <img
                      src="<%= user[i].profilePicture %>"
                      alt="Profile Picture"
                      class="img-thumbnail"
                      style="width: 100px; height: 100px; border-radius: 100%"
                    />
                    <% } else if (user[i].profilePicture) { %>
                    <!-- Menampilkan gambar dari folder /uploads -->
                    <img
                      src="/uploads/<%= user[i].profilePicture %>"
                      alt="Profile Picture"
                      class="img-thumbnail"
                      style="width: 100px; height: 100px; border-radius: 100%"
                    />
                    <% } %>
                  </td>
                  <td><%= user[i].player_id %></td>
                  <td><%= user[i].username %></td>
                  <td><%= user[i].balance %></td>
                  <td>
                    <!-- Status Online/Offline -->
                    <i
                      class="mdi mdi-circle <%= user[i].online ? 'online' : 'offline' %>"
                      id="status-icon-<%= user[i].id %>"
                    ></i>
                    <span id="status-text-<%= user[i].id %>"
                      ><%= user[i].online ? 'Online' : 'Offline' %></span
                    >
                  </td>
                  <td>
                    <div class="text-center">
                      <a
                        href="/admin/user/transaction/<%= user[i].id %>"
                        class="btn btn-success"
                      >
                        <i class="fas fa-pencil-alt"></i> Transaction
                      </a>
                    </div>
                  </td>
                  <td>
                    <form
                      action="/admin/user/delete/<%= user[i].id %>?_method=DELETE"
                      method="POST"
                    >
                      <div class="text-center">
                        <a
                          href="/admin/user/edit/<%= user[i].id %>"
                          class="btn btn-warning"
                        >
                          <i class="fas fa-pencil-alt"></i> Edit
                        </a>
                        <button type="submit" class="btn btn-danger">
                          <i class="fas fa-trash-alt"></i> Delete
                        </button>
                      </div>
                    </form>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span
        class="text-muted text-center text-sm-left d-block d-sm-inline-block"
        >Copyright © 2024
        <a href="https://www.bootstrapdash.com/" target="_blank">Yong</a>.
        All rights reserved.</span
      >
    </div>
  </footer>
</div>

<style>
  .online {
    color: green;
  }
  .offline {
    color: red;
  }
</style>
