<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <div class="d-flex justify-content-between align-items-center">
        <h3 class="page-title">Vouchers</h3>
        <h3 class="card-title ms-4">
          <a href="/admin/voucher/create" class="btn btn-primary"> + Add </a>
        </h3>
      </div>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Voucher</li>
        </ol>
      </nav>
    </div>
    <%- include ('../../components/messages.ejs')%>
    <div class="row">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h4 class="card-title mb-0">Table Voucher</h4>
            <input
              type="text"
              id="searchInput"
              class="form-control w-25"
              onkeyup="searchTable()"
              placeholder="Search for voucher name.."
            />
          </div>
          <div class="table-responsive">
            <table class="table table-bordered" id="voucherTable">
              <thead>
                <tr>
                  <th style="width: 7%">No</th>
                  <th>Name</th>
                  <th>Unique Code</th>
                  <th>Used</th>
                  <th>Price</th>
                  <th style="width: 20%">Actions</th>
                </tr>
              </thead>
              <tbody>
                <% voucher.forEach((v, index) => { %>
                <tr>
                  <td><%= (currentPage - 1) * 15 + index + 1 %></td>
                  <td><%= v.name %></td>
                  <td><%= v.unique_code %></td>
                  <td><%= v.is_used === 1 ? "Yes" : "No" %></td>
                  <td><%= v.formattedPrice %></td>
                  <td>
                    <% if (v.is_used === 0) { %>
                      <form action="/admin/voucher/delete/<%= v.id %>?_method=DELETE" method="POST">
                        <a href="/admin/voucher/edit/<%= v.id %>" class="btn btn-warning">
                          <i class="fas fa-pencil-alt"></i> Edit
                        </a>
                        <button type="submit" class="btn btn-danger">
                          <i class="fas fa-trash-alt"></i> Delete
                        </button>
                      </form>
                    <% } else { %>
                      <span class="text-muted">Used voucher cannot be edited or deleted</span>
                    <% } %>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
          
          <!-- Pagination Controls -->
          <nav aria-label="Page navigation" style="padding-top: 20px">
            <ul class="pagination justify-content-center">
              <% for (let i = 1; i <= totalPages; i++) { %>
                <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                  <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                </li>
              <% } %>
            </ul>
          </nav>
          
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span
        class="text-muted text-center text-sm-left d-block d-sm-inline-block"
        >Copyright © 2024
        <a href="/" target="_blank">Yong</a>.
        All rights reserved.</span
      >
    </div>
  </footer>
</div>

<style>
  .online {
    color: green;
  }
  .offline {
    color: red;
  }
</style>